/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800&display=swap');
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1065px */

body {
    background-color: #F5EEDC;
}

a.active hr {
    display: block;
}

@media (max-width: 480px) {
    .hero-text {
        font-size: 3.5rem;
    }
    .hero-content {
        text-align: center;
        margin-top: 2rem;
    }
    /* .browse-vinyls {
        padding-top: 40rem;
    } */
}

@media (max-width: 768px) {
    .visit-us {
        text-align: center;
    }
    .location-container {
        justify-content: center;
    }
    .store-img {
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 1.4rem
    }
    .hero-text {
        font-size: 8rem;
    }
    .hero-btn {
        padding: 15px 30px;
        font-size: 1.3rem;
    }
}

.browse-img {
    height: 250px;
    width: 100%;
}